<!--

    Expected input structure:

    ```json
    {
        "debug": true,
        "title": string,
        "organisation_logo": "string",
        "document_number": "string",
        "organisation": {
            "legal_name": "string",
            "address_street": "string",
            "address_zip": "string",
            "address_city": "string",
            "registration_number": "string (optional)"
        },
        "condominium": {
            "name": "string",
            "address_street": "string",
            "address_zip": "string",
            "address_city": "string"
        },
        "fiscal_period": {
            "date_from": "date",
            "date_to": "date"
        },
        "recipient": {
            "name": "string",
            "address_street": "string (optional)",
            "address_dispatch": "string (optional)",
            "address_zip": "string",
            "address_city": "string",
            "address_country": "string",
            "has_vat": "boolean",
            "vat_number": "string (if has_vat = true)"
        },
        "date": "date",
        "date_format": "string (ex: 'd/m/Y')",
        "timezone": "string (ex: 'Europe/Brussels')",
        "labels": {
            "registration_number": "string",
            "vat_number": "string (ex: 'TVA')",
            "date": "string",
            "invoice": "string"
        }
    }
    ```
-->

    <!-- Common header : fixed header, present on all pages -->
    <header class="{{ debug ? 'debug':'' }}">

        <table style="width: 100%;">
            <tr>
                <td style="width: 33%;">
                    <!-- condominium-info start -->
                    <div class="condominium-info {{ debug ? 'debug' : '' }}">
                        <div style="font-weight: bold;">{{ condominium.name }}</div>
                        <div>{{ condominium.address_street }}</div>
                        <div>{{ condominium.address_zip }} {{ condominium.address_city }}</div>
                    </div>
                    <!-- condominium-info stop -->
                </td>

                <td style="width: 33%; text-align: center;">
                    {% if (organisation_logo | length > 0) %}
                        <img class="organisation-logo "src="{{ organisation_logo }}" />
                    {% endif %}
                </td>

                <td style="width: 33%;">
                    <!-- organisation-info start  (organisation is the managing agent) -->
                    <div class="organisation-info {{ debug ? 'debug':'' }}">
                        <div style="padding-left: 10px;">
                            <h3>{{ organisation.legal_name }}</h3>
                            <div>{{ organisation.address_street }}</div>
                            <div>{{ organisation.address_zip }} {{ organisation.address_city }}</div>
                            {% if organisation.registration_number | length > 0 %}
                                <div>{{ labels.registration_number }}: {{ organisation.registration_number }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <!-- organisation-info stop -->
                </td>
            </tr>
        </table>

    </header>

    <main class="{{ debug ? 'debug' : '' }}">

        <div class="main-header">
            <table style="width: 100%;">
                <tr>
                    <td style="width: 66%;">
                        <!-- document-info start -->
                        <div class="document-info {{ debug ? 'debug' : '' }}">
                            <!-- fiscal_year-ref start -->
                            <div class="fiscal_year-ref {{ debug ? 'debug' : '' }}">
                            </div>
                            <!-- fiscal_year-ref start -->

                            <!-- fiscal_year-info start -->
                            <div class="fiscal_year-info {{ debug ? 'debug' : '' }}">
                                {% if title | length > 0 %}
                                <h2 style="text-transform: uppercase; margin-bottom: 10px;">
                                    {{ title }}
                                </h2>
                                {% endif %}
                                <table>
                                    {% if document_number | length > 0 %}
                                    <tr>
                                        <td style="text-align: right; text-transform: uppercase; padding-right: 10px;">N° DOC:</td>
                                        <td style="text-align: left;">{{ document_number }}</td>
                                    </tr>
                                    {% endif %}
                                    {% if fiscal_period is defined %}
                                    <tr>
                                        <td style="text-align: right; text-transform: uppercase; padding-right: 10px;">
                                            PERIODE EXERCICE:
                                        </td>
                                        <td>
                                            du {{ fiscal_period.date_from | date(date_format, timezone) }} au {{ fiscal_period.date_to | date(date_format, timezone) }}
                                        </td>
                                    </tr>
                                    {% endif %}
                                </table>
                            </div>
                            <!-- fiscal_year-info end -->
                        </div>
                        <!-- document-info end -->

                    </td>
                    <td>
                        <!-- recipient-info start -->
                        <div class="recipient-info {{ debug ? 'debug' : '' }}">
                            <div style="padding-left: 20px;">
                                <div>{{ recipient.name }}</div>
                                {% if recipient.address_street | length > 0 %}
                                    <div>{{ recipient.address_street }}</div>
                                {% endif %}

                                {% if recipient.address_dispatch | length > 0 %}
                                    <div>{{ recipient.address_dispatch }}</div>
                                {% endif %}

                                {% if recipient.address_city | length > 0 %}
                                    <div>{{ recipient.address_zip }} {{ recipient.address_city }}  </div>
                                {% endif %}
                                <!-- {{ recipient.address_country }} -->
                                {% if recipient.has_vat and recipient.vat_number | length > 0 %}
                                    <div>
                                        {{ labels.vat_number }}: {{ recipient.vat_number }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        {% if date is defined %}
                        <div>
                            {{ date | date(date_format, timezone) }}
                        </div>
                        {% endif %}
                        <!-- recipient-info end -->
                    </td>
                </tr>
            </table>

        </div>
        <!-- body-header end -->